{{define "sign" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>StringNote</title>
  <link rel="icon" href="/static/favicon.ico">
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.3.0/firebase-ui-auth.css" />
  <link type="text/css" rel="stylesheet" href="/static/sign.css" />

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
  <!-- Add SDKs for Firebase products that you want to use
	 https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/4.3.0/firebase-ui-auth__ja.js"></script>
  <script src="static/firebase.js"></script>
  <script src="static/send.js"></script>
  <script src="static/clear.js"></script>
</head>

<body>
  <h1>Welcome to StringNote.</h1>
  <div id="description-div">
    <div id="description-ja" class="description">
      StringNote は Google などにより認証されたユーザが、短文(以下、ノート)を登録し、登録時に払いだされたユーザ識別子(以下、UID)によって第三者が登録されたノートを参照できるものとするサービスです。
    </div>
    <div id="description-en" class="description">
      StringNote is a service that allows users authenticated by Google and others to register short sentences
      (hereinafter referred to as "notes"), and for third parties to see the registered notes using the user identifier
      (hereinafter referred to as "UID") provided at the time of registration.
    </div>
  </div>
  <span class="topic">early access version. (since 2020/09/01)</span><br />
  <div id="header">
    total access: <span id="access">{{.Acc}}</span><br />
    <a href="/static/view.html" target="viewer">viewer (HTML-API)</a>
    <a href="/static/view3.html" target="viewer">viewer (JSON-API)</a>
    <a href="https://github.com/StringNote/strnote" target="github">source code</a>
    <a href="/static/privacy.html" target="privacy">Privacy Policy</a>
  </div>
  <div id="update" class="hide">
    <div id="note-info">
      your ID:<br />
      <span id="userid" class="span-small"></span><br />
      your note URL:<br />
      <span id="userlink" class="span-small"></span><br />
      your note embedded:<br />
      <span id="usertag" class="span-small"></span><br />
      <div id="note-disp">
        <iframe id="usernote"></iframe><br />
      </div>
    </div>
    <div id="note-update">
      note number:
      <select id="note-num">
        <option value="0">note-1</option>
        <option value="1">note-2</option>
        <option value="2">note-3</option>
        <option value="3">note-4</option>
      </select><br />
      nickname:<br />
      <input type="text" id="note-name" autocomplete="on"></input><br />
      message:<br />
      <textarea id="note-mes" autocomplete="on"></textarea><br />
      <div id="btn-update-div" class="button-align">
        <button type="button" id="btn-update" class="stdbutton">Update note.</button>
        <button type="button" id="btn-clear" class="stdbutton">Clear all note.</button>
      </div>
    </div>
  </div>
  <iframe src="https://strnote.com/ad" class="ad"></iframe>
  <iframe src="https://strnote.com/ad" class="ad"></iframe>
  <iframe src="https://strnote.com/ad" class="ad"></iframe>
  <div id="login">
    <h2>Account login:</h2>
    <div id="firebaseui-auth-container"></div>
  </div>
  <div id="logout" class="hide">
    <h2>Account logout:</h2>
    <button type="button" id="btn-logout" class="stdbutton button-align">Logout from Account.</button>
  </div>
  <hr />
  <p>
    Copyright (C) 2020- strnote.com [<a href="mailto:contact@strnote.com" target="mail">mail</a>]
  </p>
  <hr />
  <h2>Official announcement NOTE:</h2>
  <p>
    <a href="https://strnote.com/api/v1/4B_4CSj0U_nhWa6YCbzB1w" target="notif">Open this note in a separate
      window.</a><br />
    <iframe src="https://strnote.com/api/v1/4B_4CSj0U_nhWa6YCbzB1w"
      style="border: 0px; width: 750px; height: 32em;"></iframe><br />
  </p>
</body>

<script>
  if (navigator.language == "ja") {
    document.getElementById('description-ja').classList.remove("hide");
    document.getElementById('description-en').classList.add("hide");
  } else {
    document.getElementById('description-ja').classList.add("hide");
    document.getElementById('description-en').classList.remove("hide");
  }

  // 認証トークン
  var idToken = "";

  // 認証状態変更ハンドラ
  onAuthStateChangedHandler = (user) => {
    if (user) {
      // ログイン済み
      idToken = "";
      // IDトークンを取得
      getIdTokenPromise()
        .then(function (token) {
          idToken = token;
          showUpdate();
          setupNoteUpdate("", "");
        }).catch(function (error) {
          console.log(error);
        });
      showLogout();
    } else {
      // ログインしていない
      showLogin();
      uiStart('firebaseui-auth-container');
    }
  }

  // ログアウト処理実行
  function logoutHandle() {
    signOutPromise().then(() => {
      showLogin();
    }).catch((error) => {
      alert(`ログアウトできませんでした(${error})`);
    });
  }
  document.getElementById('btn-logout').addEventListener("click", logoutHandle);

  // ノート番号変更
  document.getElementById('note-num').addEventListener("change", () => {
    changeNoteNum(document.getElementById('note-num').selectedIndex);
  });

  // 更新処理実行
  document.getElementById('btn-update').addEventListener("click", () => {
    name = document.getElementById("note-name").value
    mes = document.getElementById("note-mes").value
    setupNoteUpdate(name, mes);
  });

  // クリア処理実行
  document.getElementById('btn-clear').addEventListener("click", () => {
    if (window.confirm("Your account will be deleted.")) {
      if (window.confirm("We can't get it back!!!!")) {
        clearNoteUpdate();
      }
    }
  });

  // ログイン操作部
  function showLogin() {
    optObj.num = 0;
    document.getElementById('login').classList.remove("hide");
    document.getElementById('logout').classList.add("hide");
    hideUpdate();
  }
  function showLogout() {
    document.getElementById('logout').classList.remove("hide");
    document.getElementById('login').classList.add("hide");
  }

  // 更新操作部
  function showUpdate() {
    document.getElementById('update').classList.remove("hide");
  }
  function hideUpdate() {
    document.getElementById('update').classList.add("hide");
  }

  // ノート表示の更新
  function updateNoteInfo(id) {
    var html = "<iframe src=\"/api/v1/" + id + "\"></iframe>";
    var url = "https://strnote.com/api/v1/" + id;
    document.getElementById('userid').innerHTML = "<code>" + id + "</code>";
    document.getElementById('userlink').innerHTML = "<a href=\"" + url + "\" target=\"_new\">" + url + "</a>";
    document.getElementById('usertag').innerHTML = "&lt;iframe src=\"" + url + "\"&gt;&lt;/iframe&gt;";
    document.getElementById('usernote').outerHTML = "<iframe id=\"usernote\" src=\"" + url + "\"></iframe>";
    //document.getElementById('usernote').contentDocument.location.replace(url);
  }

  // 更新オプション
  var optObj = { "num": 0 };
  function changeNoteNum(num) {
    optObj.num = num;
    setupNoteUpdate("", "");
  }

  function setupNoteUpdate(name, mes) {
    sendTokenPromise(idToken, name, mes, optObj)
      .then(function (info, result) {
        //console.log(info.result);
        res = JSON.parse(info.result)
        updateNoteInfo(res.uid);
        document.getElementById('note-name').value = res.name;
        document.getElementById('note-mes').value = res.mes;
      }).catch(function (error) {
        console.log(error);
      });
  }

  function clearNoteUpdate() {
    clearTokenPromise(idToken)
      .then(function (info, result) {
        logoutHandle();
      }).catch(function (error) {
        console.log(error);
      });
  }
</script>

</html>
{{end}}