.hide {
	display: none;
}
h1 {
	color: blue;
	margin-bottom: 0px;
}
.topic {
	font-size: large;
    font-weight: bold;
	color: red;
}
.stdbutton {
    font-size: 1.4em;
    font-weight: bold;
	padding: 10px 30px;
	color: orangered;
}
#access {
	color: blue;
}
.description {
	margin: 5px;
	padding: 15px;
	width: 750px;
	border: 10px solid darkorange;
	background-color: papayawhip;
	color: brown;
	border-radius: 20px;
}

#update {
	margin: 3px 0px 5px 5px;
	width: 750px;
}

#note-info {
	line-height: 1em;
	word-break: break-all;
	overflow-wrap: break-word;
	border: 1px solid black;
	background-color: aliceblue;
}
.span-small {
	margin-left: 10px;
	font-size: xx-small;
	color: blue;
}
#usernote {
	width: 720px;
    height: 270px;
	margin-left: 10px;
}
#note-disp {
	margin-top: 10px;
	margin-bottom: 10px;
}

#note-update {
	background-color: aliceblue;
}
#note-name {
	width: 720px;
	margin-left: 10px;
}
#note-mes {
	width: 720px;
    height: 6em;
	margin-left: 10px;
}
#btn-update-div {
	width: 720px;
    height: 4em;
	margin-left: 10px;
}

#login {
	width: 750px;
	margin-left: 10px;
}

#logout {
	font-size: big;
	width: 750px;
	margin-top: 5px;
	margin-left: 5px;
}

.ad {
	text-align: center;
	font-size: 16pt;
	font-family: serif;
	background-color: wheat;
	width: 750px;
    height: 180px;
	margin-left: 5px;
}
.button-align {
	text-align: right;
	margin-right: 10px;
}
#btn-logout {
	position: relative;
	min-width: 600px;
}